html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#top {
    text-align: center;
    padding-top: 67px;
    margin: 0 auto;
    align-content: center;
}

#top h1 {
    font-size: 3em;
    color: black;
}

#textInput {
    text-align: right;
    width: 275px;
    margin: 0 auto;
    position: relative;
}

#collectionContent {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 66px;
    padding-bottom: 66px;
}

#collection {
    margin-top: 3%;
    margin-bottom: 3%;
}

.amiiboForm {
    padding: 5px;
    height: 375px;
    color: black;
    text-align: center;
    align-items: center;
}

#amiiboName {
    height: 48px;
    margin-bottom: 0;
}

#amiiboImage {
    height: 250px;
}

#collectionSelect {
    height: 25px;
}

#bulmaButton {
    height: 25px;
    max-width: 250px;
    text-align: center;
}

#removeButton {
    height: 25px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 12px;
}

.footer {
    bottom: 0;
    padding: 0;
    align-content: space-between;
}

footer {
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    min-height: 4%;
}

#notifications {
    max-width: 20%;
    position: fixed;
    bottom: 6%;
    right: 1%;
}